/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}


@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}

@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}

/*
HEADER
*/

.header {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 0;
    z-index: 999;
}

.header .header-logo {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    float: left;
    margin-left: 30px;
    margin-top: -10px;

}

.logo-mars {
    margin-top: 30px;
}

.header .header-menu {
    font-family: 'Montserrat', sans-serif;
    float: right;
    margin-right: 50px;
    margin-top: 30px;
}

.header .header-menu a {
    margin-left: 15px;
    color: #FFFFFF;
}


a {
    text-decoration: none;  /* Permet d'enlever le soulignage automatique */
}



body{
    background-image:url("../tacos_bien_saignant.jpg");
    background-repeat: no-repeat;
    max-width: 100%;
}


* {box-sizing:border-box}

/* Nouveautés */
.nouveautes-container {
  max-width: 50%;
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

/* Légende */
.text {
  color: #f2f2f2;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Les cercles qui permettent le changement d'image */
.cercle {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .cercle:hover {
  background-color: #282A35;
}

/* Animation de changement d'image */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}


.apropos {
  background-image:url("../vitrine_a_propos.jpg");
}

/* Couleur et taille des liens */

a.produits {transition: ease-in-out 0.5s;}
a.produits:hover {font-size: 110%; color: #1E90FF;}
a.restaurants {transition: ease-in-out 0.5s;}
a.restaurants:hover {font-size:110%; color: #1E90FF;}
a.contact {transition: ease-in-out 0.5s;}
a.contact:hover {font-size:110%; color: #1E90FF;}
a.recrutement {transition: ease-in-out 0.5s;}
a.recrutement:hover {font-size:110%; color: #1E90FF;}
a.a_propos {transition: ease-in-out 0.5s;}
a.a_propos:hover {font-size:110%; color: #1E90FF;}

/* Pied de page */

footer{
  position: absolute;
  bottom: -20%;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100%;

  padding-top: 40px;
  color: #fff;
}

/* Contenu du pied de page */

.footer-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.socials{
  position: relative;
  display: flex;
  margin-left: -7%;
}

.socials li{
  position: relative;
  list-style: none;
  margin: 10%;
}

.socials li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 170%;
}

.socials li a:hover{
  top: -20%;
}







